body {
    width: 50%;
    color: white;
    font-size: 20px;
    margin-left: 11%;
}

h1 {
    color: white;
    font-size: 48px;
}

.clickable {
    text-decoration: underline;
    cursor: grab;
}

.clickable:hover {
    color: red;
}

.hidden {
    display: none;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.night {
    color: #707070;
}

.day {
    color: #0f0f0f;
}