body {
    margin: 0 auto;
    background-color: black;
}

h1 {
    color: #008282;
    font-size: 48px;
    text-align: center;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.lil-gui .name {
    font-size: 16px;
    font-weight: bold;
}

#lil-gui-name-1, #lil-gui-name-5 {
    color: red;
}

#lil-gui-name-2, #lil-gui-name-6 {
    color: green;
}

#lil-gui-name-3, #lil-gui-name-7 {
    color: blue;
}