body {
    background-color: black;
    margin: 0 auto;
    color: white;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.splash {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.splash h1 {
    font-size: 80px;
    color: #008282;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-size: 50px;
    padding-left: 50%;
    width: 48%;
}

.content h1 {
    margin-bottom: 0px;
}

.clickable {
    color: #e00707;
    cursor: grab;
}

.clickable:hover {
    color: cyan;
}

.hidden {
    display: none;
}